<html>
    <head>
        <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qtyqr5m94a"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div style="margin-top: 20px; margin-bottom: 10px; font-weight: bold;">
            주변 약국
        </div>
        <div id="map" style="width:100%; height:80%">

        </div>
        
        <script>
            function getQueryParam(name) {
                let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(window.location.href);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
            
            let userId = getQueryParam('user_id');
            let userLat = getQueryParam('lat');
            let userLon = getQueryParam('lon');

            async function getRegularPharmaciesByUserId(userId) {
                try {
                    let response = await fetch(`/users/User_list/${userId}`);
                    let data = await response.json();
                    return data.regular_pharmacy;
                } catch (error) {
                    console.error("단골 약국 정보를 가져오는 중 오류가 발생했습니다:", error);
                    return [];
                }

            }
            $(document).ready(async function() {

                try {
                    //const userLocation = await getLocation();
                    const regularPharmacies = await getRegularPharmaciesByUserId(userId);
                    console.log(userLat, userLon);
                    // Create map object only once
                    const map = new naver.maps.Map('map', {
                        center: new naver.maps.LatLng(userLat, userLon),
                        zoom: 20,
                        minZoom: 7,
                        zoomControl: true,
                        zoomControlOptions: {
                            position: naver.maps.Position.TOP_RIGHT
                        }
                    });
                    
            
                    $.ajax({
                        url: "/pharmacies/nearby",
                        type: "GET",
                        cache: false,
                        dataType: "json",
                        data: {
                            "lat": userLat,
                            "lon": userLon,
                            "distance_km": "1"
                        },
                        success: function(data) {
                            data.forEach(function(it) {
                                const care_institution_name = it.care_institution_name;
                                const address = it.address;
                                const phone_number = it.phone_number;
                                const isRegularPharmacy = regularPharmacies.includes(parseInt(it.id));
                                const pharmacy_location = new naver.maps.LatLng(it.coord_y, it.coord_x);
            
                                let marker;
                                if (isRegularPharmacy) {
                                    //console.log(it.id)
                                    marker = new naver.maps.Marker({
                                        position: pharmacy_location,
                                        map: map,
                                        icon: {
                                            url: 'https://medisign-bucket.s3.ap-northeast-2.amazonaws.com/static/images/regular_marker.png',
                                            size: new naver.maps.Size(70, 80),
                                            scaledSize: new naver.maps.Size(70, 73), // 추가: 이미지 크기를 조절하기 위해
                                            origin: new naver.maps.Point(0, 0),
                                            anchor: new naver.maps.Point(25, 26)
                                        }
                                    });
                                } else {
                                    marker = new naver.maps.Marker({
                                        position: pharmacy_location,
                                        map: map,
                                        icon: {
                                            url: 'https://medisign-bucket.s3.ap-northeast-2.amazonaws.com/static/images/default_marker.png',
                                            size: new naver.maps.Size(55, 57),
                                            scaledSize: new naver.maps.Size(25, 27), // 추가: 이미지 크기를 조절하기 위해
                                            origin: new naver.maps.Point(0, 0),
                                            anchor: new naver.maps.Point(25, 26)
                                        }
                                    });
                                }
            
                                const contentString = [
                                    '<div class="iw_inner">',
                                    '   <h3>' + care_institution_name + '</h3>',
                                    '   <p>' + address + '<br />',
                                    '       ' + phone_number + '<br />',
                                    '   </p>',
                                    '</div>'
                                ].join('');
            
                                const infowindow = new naver.maps.InfoWindow({
                                    content: contentString
                                });
                                naver.maps.Event.addListener(marker, "click", function() {
                                    if (infowindow.getMap()) {
                                        // infowindow가 현재 지도에 표시되어 있으면 닫습니다.
                                        infowindow.close();
                                    } else {
                                        // 그렇지 않으면 infowindow를 엽니다.
                                        infowindow.open(map, marker);
                                    }
                                });;
                            });
                        },
                        error: function(request, status, error) {
                            console.error("Failed to fetch nearby pharmacies:", error);
                        }
                    });
            
                } catch (err) {
                    console.error("An error occurred:", err);
                }
            
            });
            {% comment %} async function getLocation() {
                let XY = new Object();
                if(navigator.geolocation) {
    
                    let promise = new Promise((resolve, rejected) => {
                        navigator.geolocation.getCurrentPosition((position) => {
                            resolve(position);
                        });
                    });
    
                    let position = await promise;
                    // position.coords.latitude 위도
                    // position.coords.longitude 경도
                    XY.lat = position.coords.latitude;
                    XY.lng = position.coords.longitude;
                }
                return XY;            
            } {% endcomment %}
            
        </script>
    </body>
</html>