<html>
    <head>
        <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=qtyqr5m94a"></script>
        <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    </head>

    <body>
        <div style="margin-top: 20px; margin-bottom: 10px; font-weight: bold;">
            주변 약국
        </div>
        <div id="map" style="width:100%; height:80%">

        </div>
        
        <script>
            function getQueryParam(name) {
                let regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
                    results = regex.exec(window.location.href);
                if (!results) return null;
                if (!results[2]) return '';
                return decodeURIComponent(results[2].replace(/\+/g, ' '));
            }
            
            let userId = getQueryParam('user_id');

            async function getRegularPharmaciesByUserId(userId) {
                try {
                    let response = await fetch(`/users/User_list/${userId}`);
                    let data = await response.json();
                    return data.regular_pharmacy;
                } catch (error) {
                    console.error("단골 약국 정보를 가져오는 중 오류가 발생했습니다:", error);
                    return [];
                }

            }
            $(document).ready(async function(){

                let XY = await getLocation();
            
                
                //지도를 삽입할 HTML 요소 또는 HTML 요소의 id를 지정합니다.
                var mapDiv = document.getElementById('map'); // 'map'으로 선언해도 동일

                let regularPharmacies = await getRegularPharmaciesByUserId(userId);
                // 현재 user 위치에 pin 고정
                var HOME_PATH = window.HOME_PATH || '.';
                var defaultMarker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(XY.lat, XY.lng),
                    map: map,
                    title : '현재 user의 위치'
                });
                
                
                $.ajax({
                    url: "/pharmacies/nearby",
                    type: "GET",
                    cache: false,
                    dataType: "json",
                    
                    data: {"lat" : XY.lat, "lon": XY.lng, "distance_km": "1"},
                    
                    success: function(data) {
                        console.log(data);
                        var map = new naver.maps.Map('map', {
                            center: new naver.maps.LatLng(XY.lat, XY.lng), //지도의 초기 중심 좌표
                            zoom: 13, //지도의 초기 줌 레벨
                            minZoom: 7, //지도의 최소 줌 레벨
                            zoomControl: true, //줌 컨트롤의 표시 여부
                            zoomControlOptions: { //줌 컨트롤의 옵션
                                position: naver.maps.Position.TOP_RIGHT
                            }
                        });
                        data.forEach(function(it, index){
                            let care_institution_name = it.care_institution_name // 약국 명
                            let address = it.address //주소
                            let phone_number = it.phone_number// 번호
                            let isRegularPharmacy = regularPharmacies.includes(parseInt(it.id));
                            let starIcon = isRegularPharmacy ? "⭐" : "☆"; // 채워진 별과 빈 별을 나타냅니다.                        
                            
                            let pharmacy_location = new naver.maps.LatLng(it.coord_y, it.coord_x);
                            let marker = new naver.maps.Marker({
                                map: map,
                                position: pharmacy_location
                            });
                        
                            var contentString = [
                                    '<div class="iw_inner">',
                                    '   <h3>'+care_institution_name+' <button class="star-icon" style="float:right; margin-right:5px;" data-pharmacy-id="' + it.id + '">' + starIcon + '</button></h3>',
                                    '   <p>'+address+'<br />',
                                    '       '+phone_number+'<br />',
                                    //'       '+it.id+'<br />',
                                    '   </p>',
                                    '</div>'
                                ].join('');

                            function bindStarIconClickEvent() {
                                setTimeout(function() {
                                    
                                }, 100);  // 100ms 지연을 주어 DOM이 준비될 때까지 기다립니다.
                            }
                            
                            var infowindow = new naver.maps.InfoWindow({
                                content: contentString
                            });
                            
                            naver.maps.Event.addListener(marker, "click", function(e) {
                                if (infowindow.getMap()) {
                                    infowindow.close();
                                } else {
                                    infowindow.open(map, marker);
                                    bindStarIconClickEvent();
                                }
                            });
                            $('button.star-icon').click(async function(e) {
                                console.log("Star button was clicked!");
                                
                                let pharmacyId = $(this).attr("data-pharmacy-id");
                                let isFilledStar = $(this).text() === "⭐";
                                $(this).text(isFilledStar ? "☆" : "⭐");
                                console.log(pharmacyId);
                                // 약국을 추가할지 제거할지 결정하는 변수
                                let action = isFilledStar ? "remove" : "add";
                            
                                try {
                                    // 먼저 현재 사용자의 정보를 가져옵니다.
                                    let userResponse = await fetch(`/users/User_list/${userId}`);
                                    let userData = await userResponse.json();
                            
                                    // regular_pharmacy 배열을 가져옵니다.
                                    let regularPharmacy = userData.regular_pharmacy || [];
 
                                    // action에 따라 pharmacyId를 추가하거나 제거합니다.
                                    if(!regularPharmacy.includes(parseInt(pharmacyId))) {
                                        console.log("add");
                                        regularPharmacy.push(parseInt(pharmacyId));  // 여기서 parseInt()를 사용하여 정수로 변환
                                    } else if(regularPharmacy.includes(parseInt(pharmacyId))) {
                                        console.log("remove");
                                        regularPharmacy = regularPharmacy.filter(id => id !== parseInt(pharmacyId));  // 여기서도 parseInt()를 사용하여 정수로 변환
                                    }
                                    console.log(regularPharmacy);
                                    
                                    let url = `/users/User_list/${userId}`;
                                    let data = {
                                        regular_pharmacy: regularPharmacy  // 이 부분을 수정하였습니다. 
                                    };
                                    console.log("전송: " , JSON.stringify(data));
                                    let headers = {
                                        'Content-Type': 'application/json'
                                    };
                            
                                    fetch(url, {
                                        method: 'PUT',
                                        headers: headers,
                                        body: JSON.stringify(data)
                                    })
                                    .then(response => response.json())
                                    .then(data => {
                                        
                                        if (data.success) {
                                            // 성공 로직
                                            
                                        } else {
                                            // 실패 로직
                                            console.error("서버에서 오류가 발생했습니다:", data.message || "Unknown Error");
                                        }
                                    })
                                    .catch(error => console.error("요청 중 오류가 발생했습니다:", error));
                                } catch(error) { // 이 부분을 추가하였습니다.
                                    console.error("Error during the update process:", error);
                                }
                            });
                            infowindow.open(map, marker);
                        });
                        
                        
                    },
                    error: function(request, status, error) {
    
                    }

                });
                
            });
            
            async function getLocation() {
                let XY = new Object();
                if(navigator.geolocation) {
    
                    let promise = new Promise((resolve, rejected) => {
                        navigator.geolocation.getCurrentPosition((position) => {
                            resolve(position);
                        });
                    });
    
                    let position = await promise;
                    // position.coords.latitude 위도
                    // position.coords.longitude 경도
                    XY.lat = position.coords.latitude;
                    XY.lng = position.coords.longitude;
                }
                return XY;            
            }
            
        </script>
    </body>
</html>